*.DS_Store
/.CFUserTextEncoding
/.VirtualBox Vms
/.Trash
/.adobe
/.android
/.ardour2
/.argouml
/.bundle
/.cache
/.cask
/.cups
/.dropbox
/.fontconfig
/.fonts
/.freemind
/.gem
/.ghc
/.heroku
/.history
/.keepassx
/.lesshst
/.m2
/.memegen
/.mindterm
/.mutt
/.mysql_history
/Meetup.js
/.netbeans-derby
/.netrc
/.npm
/.nvm
/.offlineimap
/.phantomjs
/.pgpass
/.pip
/.pow
/.pry_history
/.psql_history
/.rbenv
/.rbx
/.rediscli_history
/.rnd
/.sqlite_history
/.ssh
/.subversion
/.vim/.netrwhist
/.vim/bundle/*
!/.vim/bundle/vundle
/.vim-tmp
/.viminfo
/.virtualenvs
/.zcompdump
/Desktop
/Documents
/Downloads
/Dropbox
/Copy
/Gmail
/Library/*
/Movies
/Music
/Pictures
/Public
/play
/work
/podcast
/sessions
/Talks
pgadmin.log
.pgadmin_histoqueries
.exercism.go
