*.DS_Store
/Applications (Parallels)
/.CFUserTextEncoding
/.VirtualBox Vms
/.T/.Trashrash
/.adobe
/.android
/.ardour2
/.argouml
/.atom
/.aws
/.boot2docker
/.bundle
/.cabal
/.cache
/.cask
/.cocoapods
/.config/NuGet
/.config/configstore
/.config/heroku
/.config/menus
/.config/micro
/.config/xbuild
/.config/fish/fishd.*
/.config/robomongo
/.cups
/.docker
/.dropbox
/.dropbox-master
/.electron
/.composer
/.elm
/.emacs
/.emacs.d
/.electrum
/.exponent
/floobits/
/.fontconfig
/.fonts
/.freemind
/.gem
/.ghc
/.gradle
/.Genymobile
/.hammerspoon
/.heroku
/.hyperterm_plugins
/.hyper_plugins
/.history
/.iterm2
/.keepassx
/.lesshst
/.local
/.m2
/.memegen
/.mindterm
/.mix
/.mutt
/.mysql_history
/.nuget
/Meetup.js
/.netbeans-derby
/.netrc
/.npm
/.node-gyp
/.now.json
/.nvm
/.offlineimap
/.ocamlinit
/.opam
/.oh-my-zsh
/.pebble
/.phantomjs
/.pgpass
/.pip
/.pow
/.pry_history
/.psql_history
/.rbenv
/.rbx
/.reasoninit
/.rediscli_history
/.rnd
/.rstudio-desktop/
/.rtop-history
/.sqlite_history
/.ssh
/.subversion
/.vagrant.d
/.vim/.netrwhist
/.vim/bundle/*
!/.vim/bundle/vundle
/.vim-tmp
/.vim/plugged
/.viminfo
/.virtualenvs
/.vscode
/.yarn-cache
/.yarn-config
/.yarn
/.yarnrc
/.zcompdump-*
/Applications
/bin/micro
/Desktop
/Documents
/Downloads
/Dropbox
/Dropbox (Personal)
/Dropbox (Avi-On)
/Dropbox (Amplified)
/Copy
/Gmail
/Google Drive
/Library/*
/Movies
/Music
/papers
/Pictures
/Public
/play
/work
/podcast
/sessions
/Splice
/Talks
/VirtualBox VMs
/bin/subl
/bin/match
pgadmin.log
.pgadmin_histoqueries
.exercism.go
dump.rdb
.floorc.json
.npmrc
.dockercfg
.dbshell
.babel.json
.emulator_console_auth_token
.iterm2_shell_integration.zsh
.mongorc.js
.v8flags.*.gianu.json
.zsh_history
