*.DS_Store
/.CFUserTextEncoding
/.VirtualBox Vms
/.T/.Trashrash
/.adobe
/.android
/.ardour2
/.argouml
/.atom
/.aws
/.boot2docker
/.bundle
/.cabal
/.cache
/.cask
/.cocoapods
/.config
/.cups
/.docker
/.dropbox
/.dropbox-master
/.elm
/.emacs
/.emacs.d
/floobits/
/.fontconfig
/.fonts
/.freemind
/.gem
/.ghc
/.gradle
/.heroku
/.history
/.keepassx
/.lesshst
/.m2
/.memegen
/.mindterm
/.mutt
/.mysql_history
/Meetup.js
/.netbeans-derby
/.netrc
/.npm
/.node-gyp
/.nvm
/.offlineimap
/.pebble
/.phantomjs
/.pgpass
/.pip
/.pow
/.pry_history
/.psql_history
/.rbenv
/.rbx
/.rediscli_history
/.rnd
/.sqlite_history
/.ssh
/.subversion
/.vagrant.d
/.vim/.netrwhist
/.vim/bundle/*
!/.vim/bundle/vundle
/.vim-tmp
/.vim/plugged
/.viminfo
/.virtualenvs
/.zcompdump
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Dropbox (Personal)
/Dropbox (Avi-On)
/Dropbox (Amplified)
/Copy
/Gmail
/Library/*
/Movies
/Music
/papers
/Pictures
/Public
/play
/work
/podcast
/sessions
/Splice
/Talks
/VirtualBox VMs
/bin/subl
pgadmin.log
.pgadmin_histoqueries
.exercism.go
dump.rdb
.floorc.json
.npmrc
.dockercfg
.dbshell
.babel.json
.mongorc.js
.v8flags.3.14.5.9.gianu.json
.zsh_history
